.gearContainer {
  padding: 10px;
  border-bottom: 1px solid var(--inventory-skill-border);
  border-right: 1px solid var(--inventory-skill-border);

  .gearImageWrapper {
    width: 100%;
    height: 100%;
    // background-position: center;
    // background-repeat: no-repeat;
    //background-size: contain;
    object-fit: contain;
  }
}
