.gearContainer {
    padding: 10px;
    border-bottom: 1px solid var(--inventory-skill-border);
    border-right: 1px solid var(--inventory-skill-border);

    .gearImageWrapper {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.basic_weapon_1 {
    background-image: url(../../../../../../images/gear/sword/basic_weapon_1.png);
}

.basic_body_1 {
    background-image: url(../../../../../../images/gear/body/basic_body_1.png);
}

.basic_shield_1 {
    background-image: url(../../../../../../images/gear/shield/basic_shield_1.png);
}

.basic_hand_1 {
    background-image: url(../../../../../../images/gear/hand/basic_hand_1.png);
}

.basic_leg_1 {
    background-image: url(../../../../../../images/gear/leg/basic_leg_1.png);
}

.basic_feet_1 {
    background-image: url(../../../../../../images/gear/feet/basic_feet_1.png);
}