:root {
  //main colors
  --orange: #f79627;
  --darker-orange: #f7962788;
  --green: #55ad5f;
  --light-grey: #e6e6e6;
  --dark-grey: #323232;

  //color label colors
  --termeszet: #0b540b;
  --rozsdagyar: #ff9900;
  --otthonesstilus: #ecc2fe;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  min-height: 100%;
  background: #fff;
  color: #000;

  //mozilla scrollbar
  scrollbar-color: var(--orange) #c2d2e4;
  scrollbar-width: thin;

  //chrome, safari scrollbar
  &::-webkit-scrollbar {
    background: transparent;
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-radius: 10px;

    &:hover {
      background: var(--darker-orange);
    }
  }
}

body {
  box-sizing: border-box;
  font-size: 1.4rem;
  text-rendering: optimizeLegibility;
}

// color-label
.termeszet {
  background-color: var(--termeszet);
}
.rozsdagyar {
  background-color: var(--rozsdagyar);
}
.otthonesstilus {
  background-color: var(--otthonesstilus);
}

// header
@import "header";

.layout-cover {
  position: relative;
  max-width: 1108px;
  height: 300px;
  margin: 0 auto;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .upload-wrapper {
    display: flex;
    flex-direction: row;

    .add-cover {
      position: absolute;
      top: 15px;
      right: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;
      user-select: none;

      .material-icons {
        color: var(--orange);
        font-size: 30px;
      }
    }

    .upload-text {
      position: absolute;
      top: 20px;
      right: 70px;
      display: flex;
      flex-direction: column;

      :first-child {
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.11;
        letter-spacing: 0.45px;
        color: var(--dark-grey);
      }
      :last-child {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.43;
        letter-spacing: 0.35px;
        color: var(--dark-grey);
      }
    }
  }
}

.layout-page {
  max-width: 1108px;
  margin: 40px auto 0;

  .layout-topAd {
    width: 990px;
    height: 120px;
    margin: 0 auto;
    padding: 10px 10px 0;
    background-color: #f1f1f1;

    .body-background {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .footer-background {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20px;

      span {
        font-family: "Open Sans", sans-serif;
        font-size: 10px;
        color: #999;
      }
    }
  }

  .layout-article-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    border-bottom: 2px solid var(--light-grey);

    .article-header-top-data {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5px 0;

      .credentials {
        display: inline-block;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 14px;
        font-stretch: condensed;
        color: #fff;
        background-color: var(--green);
        border-radius: 2px;
        padding: 3px 4px 1px;
        margin-right: 10px;
        text-transform: uppercase;
      }

      .grey-data {
        display: inline-block;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 14px;
        font-stretch: condensed;
        /* padding: 3px 4px 1px; */
        opacity: 0.5;
        margin-right: 6px;

        &.name {
          border-right: 2px solid #3232327c;
          padding-right: 6px;
        }

        a {
          font-family: "Roboto Condensed", sans-serif;
          font-size: 14px;
          font-stretch: condensed;
          color: #000;
          text-decoration: none;
        }
      }
    }

    .article-header-title {
      h1 {
        a {
          font-family: "Open Sans", sans-serif;
          font-size: 36px;
          color: #000;
          text-decoration: none;
          font-weight: bold;
          line-height: 1.39;
          margin: 12px 0;
        }
      }
    }

    .article-header-follow {
      display: flex;
      flex-direction: row;
      padding: 10px 0 30px;

      .follow-avatar-wrapper {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 12px;

        img {
          width: 100%;
          height: auto;
          object-fit: contain;
        }
      }

      .follow-data-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .follow-data-title {
          a {
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            line-height: 1.5;
            color: var(--orange);
            text-transform: uppercase;
          }
        }
        .follow-data-button {
          width: 68px;
          border-radius: 2px;
          border: 1px solid var(--dark-grey);
          background-color: #fff;
          padding: 3px 9px 3px 8px;
          white-space: nowrap;
          font-family: "Open Sans", sans-serif;
          font-size: 10px;
          font-weight: 600;
          text-transform: uppercase;
          color: var(--dark-grey);
          cursor: pointer;
        }
      }
    }
  }

  .layout-article-wrapper {
    margin-top: 25px;
    display: flex;
    flex-direction: row;

    .layout-article-main-article {
      width: 728px;
      margin-right: 32px;

      p {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: var(--dark-grey);
        line-height: 24px;

        span {
          display: inline-block;
          margin: 1rem 0;

          img {
            display: block;
            margin: 1rem auto;
          }
        }
      }

      img {
        max-width: 100%;
      }

      ul,
      ol {
        padding-left: 20px;

        li {
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: var(--dark-grey);
        }
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        color: var(--dark-grey);
      }

      h1 {
        font-size: 36px;
        line-height: 1.39;
      }
      h2 {
        font-size: 20px;
        line-height: 2.5;
      }
      h3 {
        font-size: 16px;
        line-height: 3.13;
      }
      h4 {
        font-size: 14px;
        line-height: 3.57;
      }
      h5 {
        font-size: 12px;
        line-height: 4.17;
      }
      h6 {
        font-size: 10px;
        line-height: 5;
      }

      blockquote {
        position: relative;
        display: inline-block;
        padding-left: 20px;
        margin: 40px 0;

        p {
          font-family: "Open Sans", sans-serif;
          font-size: 18px;
          font-weight: bold;
          font-style: italic;
          line-height: 1.56;
          color: var(--dark-grey);

          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 8px;
            background-color: var(--orange);
          }
        }
      }

      .frame {
        padding-left: 12px;
        background-color: #f6f6f6;
        border-left: 8px solid var(--orange);
        margin: 20px 0;

        p {
          font-family: "Open Sans", sans-serif;
          font-size: 18px;
          font-weight: bold;
          line-height: 1.56;
          color: var(--dark-grey);
        }
      }

      .main-container-ad {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 412px;
        margin: 30px 0;
        padding: 28px 45px 0;
        background-color: #f1f1f1;

        .body-background {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .footer-background {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 24px;
          margin-top: auto;

          span {
            font-family: "Open Sans", sans-serif;
            font-size: 10px;
            color: #999;
          }
        }
      }

      .main-article-buttons-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 35px;

        .facebook-button {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 347px;
          height: 54px;
          background-color: #1877f3;
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          font-weight: bold;
          line-height: 1.71;
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;

          &:before {
            content: "";
            background-image: url(../assets/facebook_logo.png);
            background-size: 20px 20px;
            position: absolute;
            left: 52px;
            top: 17px;
            display: inline-block;
            width: 20px;
            height: 20px;
          }
        }

        .back-to-button {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 348px;
          height: 54px;
          border: 1px solid #ebedf0;
          background-color: #f5f6f7;
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          font-weight: bold;
          line-height: 1.71;
          color: #595959;
          text-transform: uppercase;
          text-decoration: none;

          &:before {
            content: "";
            background-image: url(../assets/blog_logo.png);
            background-size: 35px 23px;
            position: absolute;
            left: 52px;
            top: 15px;
            display: inline-block;
            width: 35px;
            height: 23px;
          }
        }
      }
    }

    .layout-article-side-container {
      display: flex;
      flex-direction: column;
      width: 348px;

      .next-blog-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 35px;

        .next-blog-text-wrapper {
          .next-blog-header {
            span {
              font-family: "Open Sans", sans-serif;
              font-size: 20px;
              font-weight: bold;
              line-height: 1.4;
              color: var(--dark-grey);
            }
          }
          .next-blog-text {
            padding: 15px 0 25px;

            span {
              font-family: "Open Sans", sans-serif;
              font-size: 14px;
              font-weight: 400;
              line-height: 1.57;
              color: var(--dark-grey);
            }
          }
        }
        .next-blog-button-wrapper {
          height: 42px;

          a {
            position: relative;
            display: block;
            width: 202px;
            height: 42px;
            margin: 0 auto;
            padding: 9.7px 16.3px 9.3px 16.3px;
            border-radius: 5px;
            background-color: var(--orange);
            font-family: "Open Sans", sans-serif;
            font-size: 17px;
            font-weight: 600;
            line-height: 1.41;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            transition: all 0.3s;

            &:after {
              position: absolute;
              top: 10px;
              right: 3px;
              font-family: "Material Icons";
              content: "chevron_right";
              font-weight: normal;
              font-style: normal;
              font-size: 24px;
              display: inline-block;
              line-height: 1;
              text-transform: none;
              letter-spacing: normal;
              word-wrap: normal;
              white-space: nowrap;
              direction: ltr;

              /* Support for all WebKit browsers. */
              -webkit-font-smoothing: antialiased;
              /* Support for Safari and Chrome. */
              text-rendering: optimizeLegibility;
              /* Support for Firefox. */
              -moz-osx-font-smoothing: grayscale;
              /* Support for IE. */
              font-feature-settings: "liga";
            }

            &:hover {
              background-color: var(--darker-orange);
              color: var(--orange);
            }
          }
        }
      }
      .side-container-ad {
        width: 100%;
        height: 290px;
        margin-bottom: 35px;
        padding: 10px 24px 0;
        background-color: #f1f1f1;

        .body-background {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .footer-background {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 30px;

          span {
            font-family: "Open Sans", sans-serif;
            font-size: 10px;
            color: #999;
          }
        }
      }
      .best-post-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        transition: height 0.5s;

        &.less {
          height: 300px;
          overflow: hidden;

          &:after {
            content: "";
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            pointer-events: none;
            background-image: linear-gradient(
              to bottom,
              rgba(255, 255, 255, 0),
              rgba(255, 255, 255, 1) 90%
            );
            width: 100%;
            height: 60px;
          }
        }

        .best-post-header {
          padding-bottom: 15px;
          border-bottom: 1px solid var(--light-grey);
          margin-bottom: 20px;

          span {
            font-family: "Open Sans", sans-serif;
            font-size: 20px;
            font-weight: bold;
            line-height: 1;
            color: var(--dark-grey);
          }
        }
        .best-post-item {
          display: flex;
          flex-direction: row;
          margin-bottom: 20px;

          .best-post-pic-wrapper {
            width: 65px;
            height: 65px;
            border-radius: 50%;
            margin-right: 15px;

            img {
              width: 48px;
              height: 48px;
              object-fit: contain;
              border-radius: 50%;
            }
          }

          .best-post-content-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-bottom: 1px solid var(--light-grey);
            padding-bottom: 15px;

            .best-post-content-title {
              span {
                display: inline-block;
                font-family: "Open Sans", sans-serif;
                font-size: 15px;
                font-weight: bold;
                line-height: 1.33;
                color: var(--dark-grey);
              }
            }
            .best-post-content-time {
              display: flex;
              flex-direction: row;

              span {
                display: inline-block;
                font-family: "Open Sans", sans-serif;
                font-size: 13px;
                color: #999;

                &.title {
                  font-style: normal;
                  margin-right: 5px;
                }
                &.time {
                  font-style: italic;
                }
              }
            }
          }
        }
      }
      .show-more-button-wrapper {
        display: flex;
        margin-bottom: 25px;

        a {
          width: 146px;
          height: 50px;
          margin: 0 auto;
          padding: 14px 16px 14px 15px;
          border-radius: 5px;
          background-color: var(--orange);
          color: #fff;
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          font-weight: 600;
          line-height: 1.5;
          text-transform: uppercase;
          transition: all 0.3s;
          cursor: pointer;

          &:hover {
            background-color: var(--darker-orange);
            color: var(--orange);
          }

          &:active {
            transform: translateY(2px);
            transition: translate 0.1s;
          }
        }
      }
      .follow-facebook-wrapper {
        margin-top: auto;

        .follow-facebook-title {
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          font-weight: bold;
          line-height: 1.25;
          color: var(--dark-grey);
        }
        .follow-facebook-pugin-wrapper {
          width: 350px;
          height: 380px;
          overflow-y: auto;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
  .posts-from-front-page-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    .front-page-header {
      position: relative;
      height: 31px;
      border-bottom: 1px solid #d8d8d8;

      span {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        height: 31px;
        border-bottom: 1px solid var(--dark-grey);
        font-family: "Open Sans", sans-serif;
        font-size: 24px;
        font-weight: bold;
        line-height: 0.83;
        color: var(--dark-grey);
      }
    }

    .posts-wrapper {
      display: flex;
      flex-direction: row;
      margin-top: 25px;

      .front-page-post {
        display: flex;
        flex-direction: column;
        width: 250px;
        margin-right: 30px;

        .pic-wrapper {
          position: relative;

          img {
            width: 100%;
            height: auto;
            object-fit: cover;
            aspect-ratio: 16 / 9;
          }

          .color-label {
            display: inline-block;
            position: absolute;
            bottom: 15px;
            left: 10px;
            font-family: "Roboto Condensed", sans-serif;
            font-size: 14px;
            font-stretch: condensed;
            color: #fff;
            border-radius: 2px;
            padding: 3px 4px 1px;
            text-transform: uppercase;
          }
        }

        .header-wrapper {
          margin-bottom: 5px;

          span {
            display: inline-block;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.5;
            color: var(--dark-grey);
          }
        }

        .content-wrapper {
          span {
            display: inline-block;
            font-family: "Open Sans", sans-serif;
            font-size: 15px;
            line-height: 1.6;
            color: var(--dark-grey);
          }
        }
      }

      .front-page-ad {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 282px;
        background-color: #f1f1f1;

        .body-background {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .footer-background {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 30px;
          margin-top: auto;

          span {
            font-family: "Open Sans", sans-serif;
            font-size: 10px;
            color: #999;
          }
        }
      }
    }
  }
}

//footer
@import "footer";

// modal
@import "modal";

//media-query
@import "mediaQuery";
