.skillPictureContainer {
  border-right: 1px solid var(--inventory-elements-border);

  .skillPicture {
    width: 80%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.green_1 {
  background-image: url("../../../../../../images/skill/defense/green_1.png");
}

.green_2 {
  background-image: url("../../../../../../images/skill/defense/green_2.png");
}

.green_3 {
  background-image: url("../../../../../../images/skill/defense/green_3.png");
}

.green_4 {
  background-image: url("../../../../../../images/skill/defense/green_4.png");
}

.green_5 {
  background-image: url("../../../../../../images/skill/defense/green_5.png");
}

.green_6 {
  background-image: url("../../../../../../images/skill/defense/green_6.png");
}

.purple_1 {
  background-image: url("../../../../../../images/skill/magic/purple_1.png");
}

.purple_2 {
  background-image: url("../../../../../../images/skill/magic/purple_2.png");
}

.purple_3 {
  background-image: url("../../../../../../images/skill/magic/purple_3.png");
}

.purple_4 {
  background-image: url("../../../../../../images/skill/magic/purple_4.png");
}

.purple_5 {
  background-image: url("../../../../../../images/skill/magic/purple_5.png");
}

.purple_6 {
  background-image: url("../../../../../../images/skill/magic/purple_6.png");
}

.red_1 {
  background-image: url("../../../../../../images/skill/offense/red_1.png");
}

.red_2 {
  background-image: url("../../../../../../images/skill/offense/red_2.png");
}

.red_3 {
  background-image: url("../../../../../../images/skill/offense/red_3.png");
}

.red_4 {
  background-image: url("../../../../../../images/skill/offense/red_4.png");
}

.red_5 {
  background-image: url("../../../../../../images/skill/offense/red_5.png");
}

.red_6 {
  background-image: url("../../../../../../images/skill/offense/red_6.png");
}
