.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 200;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
}

.backdrop.show {
  animation: in .2s linear forwards;
}

.modal {
  display: none;
  position: fixed;
  top: 20vh !important;
  left: 10%;
  width: 80%;
  height: 100%;
  min-height: 300px;
  max-height: 500px;
  z-index: 300;
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
  opacity: 0;
}

.modal.show {
  animation: in .2s linear forwards;
}

@keyframes in {
  0% {
    display: block;
    opacity: 0;
  }
  30% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
/* *********************************** */
/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 20vh;
  left: 10%;
  width: 80%;
  background-color: white;
  z-index: 300;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  animation: slide-down 300ms ease-out forwards;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
 */

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem) !important;
    width: 40rem;
  }
}

@media screen and (max-width: 499px) {
  .modal {
    left: 10% !important;
    overflow: scroll !important;
  }
}
