.timeline-wrapper {
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.timeline-filter {
    width: 150px;
    height: 50px;
    border: 1px solid red;
}

.buttons {
    width: 35px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-wrapper {
    display: flex;
    width: calc(100% - 253px);
    overflow-x: scroll;
}

.sections {
    display: inline-block;
    width: 150px;
    min-width: 150px;
    height: 50px;
    border: 1px solid blue;
}