:root {
  //colors
  --light-brown: #bf8b67;
  --darker-brown: #876445;
  --dark-brown: #916c4c54;
  --black-rgba: rgba(0, 0, 0, 1);
  --red-rgba: rgba(255, 23, 0, 1);

  --field-border: var(--light-brown);
  --field-box-shadow: var(--black-rgba);
  --inventory-section-border: var(--darker-brown);
  --inventory-skill-border: var(--light-brown);
  --inventory-elements-border: var(--darker-brown);
  --dialogue-box-border: var(--darker-brown);
  --dialogue-box-border--hover: var(--dark-brown);
  --dialogue-box-border--hover-box-shadow: var(--red-rgba);
  --dialogue-box-box-shadow: var(--black-rgba);

  //transition
  --hover-transition-all: all 0.4s;

  //border-radius
  --border-radius: 4px;
}

.playField {
  width: 100vw;
  height: 100vh;
  padding: 2rem 1rem;
  background: #000 url(/images/backgrounds/main_background.jpg) no-repeat center;
  background-size: cover;

  display: grid;
  grid-gap: 15px;
  grid-template-rows: 1fr;
  grid-template-columns: 1.5fr 3fr 1fr;
}
