.card-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.card-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

.cover {
  border: 0;
  padding: 0;
}

.cover img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.card {
  background-color: bisque;
  z-index: 100;
}

.card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.hide-active {
  z-index: 200;
}

.hide-disabled {
  z-index: -1;
}

.fade {
  opacity: 0.6;
}
