.filterWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 105px;
  margin-top: 78px;
}

.filterContainers {
  display: flex;
  height: 42px;
  width: 100%;
}

.modalButton {
  display: flex;
  justify-content: center;
  width: 42px;
  height: 42px;
  align-items: center;
  background-color: #fff;
  border: 1px solid #d9d9d9;
}

.dateContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-right: 30px;
}

.buttons {
  width: 102px;
  height: 42px;
  border: 1px solid #d9d9d9;
  padding: 1px 0 4px;
  background-color: #fff;
}

.buttons span {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
}

.buttons .day {
  display: block;
  font-weight: bold;
  height: 16px;
}

.openDates {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 42px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
}

.daysSelector {
  position: absolute;
  bottom: -200px;
  right: -116px;
  display: none;
  width: 150px;
  height: 200px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  z-index: 400;
  overflow-y: auto;

  scrollbar-color: #ef3b39 #c2d2e4;
  scrollbar-width: thin;
}

.daysSelector::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

.daysSelector::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.daysSelector::-webkit-scrollbar-thumb {
  background: #ef3b39;
  border-radius: 10px;
}

.daysSelector::-webkit-scrollbar-thumb:hover {
  background: #ef3c3991;
}

.daySelectorButtons {
  height: 38px;
  width: 100%;
  background-color: #fff;
  border: unset;
  text-align: left;
  padding-left: 12px;
  transition: background-color .2s;
}

.daySelectorButtons:hover {
  background-color: #ef3b39;
}

.daySelectorButtons:hover > span {
  color: #fff;
}

.daySelectorButtons:hover > span > span {
  color: #fff;
}

.daySelectorBold {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #414141;
  transition: color .2s;
}

.daySelectorRegular {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13px;
  color: #b8b8b8;
  font-weight: normal;
  transition: color .2s;
}

.downIcon {
  transform: scale(1.4);
  fill: #ef3b39;
}

.editFavIcon {
  transform: scale(1.4);
}

.programFilterContainer {
  display: flex;
  align-items: end;
  margin-left: 30px;
}

.programFilterButtons {
  height: 26px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #414141;
  background-color: #fff;
  border: unset;
  margin-right: 30px;
  padding: 1px 0;
  opacity: .5;
}

.programFilterFilm {
  border-bottom: 5px solid #73989f;
}

.programFilterSeries {
  border-bottom: 5px solid #ff8c41;
}

.programFilterSport {
  border-bottom: 5px solid #2dd6d6;
}

.programFilterSportLive {
  border-bottom: 5px solid #d9df21;
}

.programFilterReality {
  border-bottom: 5px solid #0e26fc;
}

.programFilterGastro {
  border-bottom: 5px solid #29df2f;
}

.active {
  border: 1px solid #ef3b39;
  background-color: #ef3b39;
  color: #fff;
}

.open {
  display: block;
}

.isOn {
  opacity: 1;
}
