.filterWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
  margin-top: 48px;
}

.filterContainers {
  height: 42px;
  width: 100%;
}

.modalButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #d9d9d9;
}
