.timelineWrapper {
  position: sticky;
  top: 78px;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  z-index: 100;
}

.timelineFilter {
  width: 150px;
  height: 50px;
}

.buttons {
  width: 35px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 0;
}

.arrows {
  transform: scale(1.4);
  fill: #414141;
}

.sectionWrapper {
  width: calc(100% - 220px);
  overflow: hidden
}

.marginWrapper {
  display: flex;
  /* transition: margin-left .5s; */
}
