.programItem {
  width: 100%;
  text-align: left;
  padding: 10px;
  /* border: 1px solid #dedede; */
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  transition: box-shadow 0.25s ease-in-out;
  -moz-transition: box-shadow 0.25s ease-in-out;
  -ms-transition: box-shadow 0.25s ease-in-out;
  -o-transition: box-shadow 0.25s ease-in-out;
}

.programItem:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.19);
}

.time {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #ef3b39;
  margin-bottom: 8px;
}

.title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #414141;
  line-height: 1.38;
  transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  cursor: pointer;
}

.title:hover {
  color: #d63632;
}

.description {
  font-size: 12px;
  color: #a1a1a1;
}
