.sliderWrapper {
  position: sticky;
  left: 0;
  z-index: 90;
}

.container {
  width: 350px;
  height: 250px;
}

.mainLink {
  position: relative;
  width: 100%;
  height: 100%;
}

.mainLink .image {
  height: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  margin: 0 auto;
}

.mainLink .title {
  position: absolute;
  left: 25px;
  bottom: 10px;
  display: inline-block;
  height: 26px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: black;
  padding: 0 5px;
}

.channelLink {
  position: absolute;
  top: 7px;
  right: 20px;
  height: 21px;
  background-color: #f2070b;
  padding: 0 5px;
}

.channelLink span {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  color: #fff;
}

.channelLink .time {
  margin-right: 7px;
}
