.sliderWrapper {
  position: sticky;
  left: 0;
  z-index: 90;
  background-color: #fff;
  width: 100%;
}

.mainLink {
  display: block;
  position: relative;
  height: 270px;
  padding-top: 16px;
  padding-right: 7px;
}

.mainLink .image {
  height: 100%;
  width: 100%;
  /* aspect-ratio: 16 / 9; */
  object-fit: cover;
}

.mainLink .title {
  position: absolute;
  left: 4%;
  bottom: 4%;
  display: inline-block;
  height: 26px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: black;
  padding: 0 5px;
}

.channelLink {
  position: absolute;
  top: 10%;
  right: 4%;
  height: 21px;
  background-color: #f2070b;
  padding: 0 5px;
}

.channelLink span {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  color: #fff;
}

.channelLink .time {
  margin-right: 7px;
}
