.adItem {
  position: sticky;
  left: 0;
  height: 400px;
  padding-top: 6px;
  background-color: #fff;
  z-index: 90;
}

.adContent {
  margin: 0 auto;
  height: 360px;
  width: 640px;
  background-image: url(https://dummyimage.com/640x360/000/fff);
}
