.adItem {
  position: sticky;
  left: 0;
  height: 300px;
  padding-top: 6px;
  background-color: #fff;
  z-index: 90;
}

.adContent {
  margin: 0 auto;
  /* height: 250px; */
  /* width: 970px; */
  /* background-image: url(https://dummyimage.com/970x250/000/fff); */
}
