//dialogue field
.dialogue-field--container {
    border: 1px solid yellowgreen;
}

.story-box--container {
    border: 1px solid purple;
}

.option-box--container {
    border: 1px solid blue;
}

//inventory field
.inventory-field--container {
    border: 1px solid yellowgreen;
}