.field {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;

  border-top: 1vh groove #664d39;
  border-left: 1vh ridge #664d39;
  border-right: 1vh ridge #664d39;
  border-bottom: 1vh ridge #664d39;
}
