.container {
  //border-bottom: 1px solid var(--inventory-picture-border);
  border-right: 1px solid var(--inventory-elements-border);

  img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    object-position: center;
  }
}
