.mainBackground {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.scoreDisplay {
  width: 800px;
  height: 60px;
  margin-bottom: 20px;
  background-color: gray;
  padding: 20px;
}

.mainTable {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 600px;
  background-color: gray;
  padding: 20px;
}

.mainGrid {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(10, 1fr);
}
