.inventory-field {
  padding: 0;

  // HEALTH, ATTACK, DEFENSE commons

  .common-box--grid {
    height: 18%;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}
