:root {
  --orange: #f79627;
  --green: #55ad5f;
  --light-grey: #e6e6e6;
  --dark-grey: #323232;
  --termeszet: #0b540b;
  --rozsdagyar: #ff9900;
  --otthonesstilus: #ecc2fe; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html,
body {
  min-height: 100%;
  background: #fff;
  color: #000; }

body {
  box-sizing: border-box;
  font-size: 1.4rem;
  text-rendering: optimizeLegibility; }

.termeszet {
  background-color: var(--termeszet); }

.rozsdagyar {
  background-color: var(--rozsdagyar); }

.otthonesstilus {
  background-color: var(--otthonesstilus); }

.layout-header {
  height: 42px;
  width: 100%;
  border-bottom: 1px solid var(--light-grey); }
  .layout-header .layout-header__inner {
    display: flex;
    flex-direction: row;
    height: 100%;
    max-width: 1108px;
    margin: 0 auto;
    border-right: 1px solid var(--light-grey);
    border-left: 1px solid var(--light-grey); }
    .layout-header .layout-header__inner .layout-header__logo-wrapper {
      width: 41px;
      height: 42px;
      margin-right: auto;
      margin-left: 12px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .layout-header .layout-header__inner .layout-header__logo-wrapper img {
        width: 100%;
        height: auto;
        object-fit: contain; }
    .layout-header .layout-header__inner .layout-header__items-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 120px;
      height: 42px;
      border-left: 1px solid var(--light-grey);
      padding-left: 10px; }
      .layout-header .layout-header__inner .layout-header__items-wrapper .material-icons {
        color: #999;
        font-size: 26px; }
      .layout-header .layout-header__inner .layout-header__items-wrapper .badge {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border-radius: 6px;
        background-color: var(--orange); }
        .layout-header .layout-header__inner .layout-header__items-wrapper .badge span {
          font-family: "Roboto Condensed", sans-serif;
          font-size: 11px;
          font-weight: bold;
          font-stretch: condensed;
          color: #fff; }
      .layout-header .layout-header__inner .layout-header__items-wrapper .user-pic-wrapper {
        width: 42px;
        height: 42px; }
        .layout-header .layout-header__inner .layout-header__items-wrapper .user-pic-wrapper img {
          width: 100%;
          height: auto;
          object-fit: contain;
          aspect-ratio: 1 / 1; }

.layout-cover {
  position: relative;
  max-width: 1108px;
  height: 300px;
  margin: 0 auto; }
  .layout-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .layout-cover .add-cover {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    user-select: none; }
    .layout-cover .add-cover span {
      color: var(--orange);
      font-size: 30px; }

.layout-page {
  max-width: 1108px;
  margin: 40px auto 0; }
  .layout-page .layout-topAd {
    width: 990px;
    height: 120px;
    margin: 0 auto;
    padding: 10px 10px 0;
    background-color: #f1f1f1; }
    .layout-page .layout-topAd .body-background {
      display: flex;
      justify-content: center;
      align-items: center; }
    .layout-page .layout-topAd .footer-background {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20px; }
      .layout-page .layout-topAd .footer-background span {
        font-family: "Open Sans", sans-serif;
        font-size: 10px;
        color: #999; }
  .layout-page .layout-article-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
    border-bottom: 2px solid var(--light-grey); }
    .layout-page .layout-article-header .article-header-top-data {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5px 0; }
      .layout-page .layout-article-header .article-header-top-data .credentials {
        display: inline-block;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 14px;
        font-stretch: condensed;
        color: #fff;
        background-color: var(--green);
        border-radius: 2px;
        padding: 3px 4px 1px;
        margin-right: 10px;
        text-transform: uppercase; }
      .layout-page .layout-article-header .article-header-top-data .grey-data {
        display: inline-block;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 14px;
        font-stretch: condensed;
        /* padding: 3px 4px 1px; */
        opacity: 0.5;
        margin-right: 6px; }
        .layout-page .layout-article-header .article-header-top-data .grey-data.name {
          border-right: 2px solid #3232327c;
          padding-right: 6px; }
    .layout-page .layout-article-header .article-header-title h1 {
      font-family: "Open Sans", sans-serif;
      font-size: 36px;
      font-weight: bold;
      line-height: 1.39;
      margin: 12px 0; }
    .layout-page .layout-article-header .article-header-follow {
      display: flex;
      flex-direction: row;
      padding: 10px 0 30px; }
      .layout-page .layout-article-header .article-header-follow .follow-avatar-wrapper {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 12px; }
        .layout-page .layout-article-header .article-header-follow .follow-avatar-wrapper img {
          width: 100%;
          height: auto;
          object-fit: contain; }
      .layout-page .layout-article-header .article-header-follow .follow-data-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .layout-page .layout-article-header .article-header-follow .follow-data-wrapper .follow-data-title {
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          font-weight: bold;
          line-height: 1.5;
          color: var(--orange);
          text-transform: uppercase; }
        .layout-page .layout-article-header .article-header-follow .follow-data-wrapper .follow-data-button {
          width: 68px;
          border-radius: 2px;
          border: 1px solid var(--dark-grey);
          background-color: #fff;
          padding: 3px 9px 3px 8px;
          white-space: nowrap;
          font-family: "Open Sans", sans-serif;
          font-size: 10px;
          font-weight: 600;
          text-transform: uppercase;
          color: var(--dark-grey);
          cursor: pointer; }
  .layout-page .layout-article-wrapper {
    margin-top: 25px;
    display: flex;
    flex-direction: row; }
    .layout-page .layout-article-wrapper .layout-article-main-article {
      width: 728px;
      margin-right: 32px; }
      .layout-page .layout-article-wrapper .layout-article-main-article p {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: var(--dark-grey);
        line-height: 24px; }
      .layout-page .layout-article-wrapper .layout-article-main-article img {
        max-width: 100%; }
      .layout-page .layout-article-wrapper .layout-article-main-article ul,
      .layout-page .layout-article-wrapper .layout-article-main-article ol {
        padding-left: 20px; }
        .layout-page .layout-article-wrapper .layout-article-main-article ul li,
        .layout-page .layout-article-wrapper .layout-article-main-article ol li {
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: var(--dark-grey); }
      .layout-page .layout-article-wrapper .layout-article-main-article h1,
      .layout-page .layout-article-wrapper .layout-article-main-article h2,
      .layout-page .layout-article-wrapper .layout-article-main-article h3,
      .layout-page .layout-article-wrapper .layout-article-main-article h4,
      .layout-page .layout-article-wrapper .layout-article-main-article h5,
      .layout-page .layout-article-wrapper .layout-article-main-article h6 {
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        color: var(--dark-grey); }
      .layout-page .layout-article-wrapper .layout-article-main-article h1 {
        font-size: 36px;
        line-height: 1.39; }
      .layout-page .layout-article-wrapper .layout-article-main-article h2 {
        font-size: 20px;
        line-height: 2.5; }
      .layout-page .layout-article-wrapper .layout-article-main-article h3 {
        font-size: 16px;
        line-height: 3.13; }
      .layout-page .layout-article-wrapper .layout-article-main-article h4 {
        font-size: 14px;
        line-height: 3.57; }
      .layout-page .layout-article-wrapper .layout-article-main-article h5 {
        font-size: 12px;
        line-height: 4.17; }
      .layout-page .layout-article-wrapper .layout-article-main-article h6 {
        font-size: 10px;
        line-height: 5; }
      .layout-page .layout-article-wrapper .layout-article-main-article blockquote {
        position: relative;
        display: inline-block;
        padding-left: 20px;
        margin: 40px 0; }
        .layout-page .layout-article-wrapper .layout-article-main-article blockquote p {
          font-family: "Open Sans", sans-serif;
          font-size: 18px;
          font-weight: bold;
          font-style: italic;
          line-height: 1.56;
          color: var(--dark-grey); }
          .layout-page .layout-article-wrapper .layout-article-main-article blockquote p:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 8px;
            background-color: var(--orange); }
      .layout-page .layout-article-wrapper .layout-article-main-article .frame {
        padding-left: 12px;
        background-color: #f6f6f6;
        border-left: 8px solid var(--orange);
        margin: 20px 0; }
        .layout-page .layout-article-wrapper .layout-article-main-article .frame p {
          font-family: "Open Sans", sans-serif;
          font-size: 18px;
          font-weight: bold;
          line-height: 1.56;
          color: var(--dark-grey); }
      .layout-page .layout-article-wrapper .layout-article-main-article .main-container-ad {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 412px;
        margin: 30px 0;
        padding: 28px 45px 0;
        background-color: #f1f1f1; }
        .layout-page .layout-article-wrapper .layout-article-main-article .main-container-ad .body-background {
          display: flex;
          justify-content: center;
          align-items: center; }
        .layout-page .layout-article-wrapper .layout-article-main-article .main-container-ad .footer-background {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 24px;
          margin-top: auto; }
          .layout-page .layout-article-wrapper .layout-article-main-article .main-container-ad .footer-background span {
            font-family: "Open Sans", sans-serif;
            font-size: 10px;
            color: #999; }
      .layout-page .layout-article-wrapper .layout-article-main-article .main-article-buttons-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 35px; }
        .layout-page .layout-article-wrapper .layout-article-main-article .main-article-buttons-wrapper .facebook-button {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 347px;
          height: 54px;
          background-color: #1877f3;
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          font-weight: bold;
          line-height: 1.71;
          color: #fff;
          text-transform: uppercase;
          text-decoration: none; }
          .layout-page .layout-article-wrapper .layout-article-main-article .main-article-buttons-wrapper .facebook-button:before {
            content: "";
            background-image: url(../assets/facebook_logo.png);
            background-size: 20px 20px;
            position: absolute;
            left: 52px;
            top: 17px;
            display: inline-block;
            width: 20px;
            height: 20px; }
        .layout-page .layout-article-wrapper .layout-article-main-article .main-article-buttons-wrapper .back-to-button {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 348px;
          height: 54px;
          border: 1px solid #ebedf0;
          background-color: #f5f6f7;
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          font-weight: bold;
          line-height: 1.71;
          color: #595959;
          text-transform: uppercase;
          text-decoration: none; }
          .layout-page .layout-article-wrapper .layout-article-main-article .main-article-buttons-wrapper .back-to-button:before {
            content: "";
            background-image: url(../assets/blog_logo.png);
            background-size: 35px 23px;
            position: absolute;
            left: 52px;
            top: 15px;
            display: inline-block;
            width: 35px;
            height: 23px; }
    .layout-page .layout-article-wrapper .layout-article-side-container {
      display: flex;
      flex-direction: column;
      width: 348px; }
      .layout-page .layout-article-wrapper .layout-article-side-container .next-blog-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 35px; }
        .layout-page .layout-article-wrapper .layout-article-side-container .next-blog-wrapper .next-blog-text-wrapper .next-blog-header span {
          font-family: "Open Sans", sans-serif;
          font-size: 20px;
          font-weight: bold;
          line-height: 1.4;
          color: var(--dark-grey); }
        .layout-page .layout-article-wrapper .layout-article-side-container .next-blog-wrapper .next-blog-text-wrapper .next-blog-text {
          padding: 15px 0 25px; }
          .layout-page .layout-article-wrapper .layout-article-side-container .next-blog-wrapper .next-blog-text-wrapper .next-blog-text span {
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.57;
            color: var(--dark-grey); }
        .layout-page .layout-article-wrapper .layout-article-side-container .next-blog-wrapper .next-blog-button-wrapper {
          height: 42px; }
          .layout-page .layout-article-wrapper .layout-article-side-container .next-blog-wrapper .next-blog-button-wrapper a {
            position: relative;
            display: block;
            width: 202px;
            height: 42px;
            margin: 0 auto;
            padding: 9.7px 16.3px 9.3px 16.3px;
            border-radius: 5px;
            background-color: var(--orange);
            font-family: "Open Sans", sans-serif;
            font-size: 17px;
            font-weight: 600;
            line-height: 1.41;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none; }
            .layout-page .layout-article-wrapper .layout-article-side-container .next-blog-wrapper .next-blog-button-wrapper a:after {
              position: absolute;
              top: 10px;
              right: 3px;
              font-family: "Material Icons";
              content: "chevron_right";
              font-weight: normal;
              font-style: normal;
              font-size: 24px;
              display: inline-block;
              line-height: 1;
              text-transform: none;
              letter-spacing: normal;
              word-wrap: normal;
              white-space: nowrap;
              direction: ltr;
              /* Support for all WebKit browsers. */
              -webkit-font-smoothing: antialiased;
              /* Support for Safari and Chrome. */
              text-rendering: optimizeLegibility;
              /* Support for Firefox. */
              -moz-osx-font-smoothing: grayscale;
              /* Support for IE. */
              font-feature-settings: "liga"; }
      .layout-page .layout-article-wrapper .layout-article-side-container .side-container-ad {
        width: 100%;
        height: 290px;
        margin-bottom: 35px;
        padding: 10px 24px 0;
        background-color: #f1f1f1; }
        .layout-page .layout-article-wrapper .layout-article-side-container .side-container-ad .body-background {
          display: flex;
          justify-content: center;
          align-items: center; }
        .layout-page .layout-article-wrapper .layout-article-side-container .side-container-ad .footer-background {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 30px; }
          .layout-page .layout-article-wrapper .layout-article-side-container .side-container-ad .footer-background span {
            font-family: "Open Sans", sans-serif;
            font-size: 10px;
            color: #999; }
      .layout-page .layout-article-wrapper .layout-article-side-container .best-post-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        transition: height 0.5s; }
        .layout-page .layout-article-wrapper .layout-article-side-container .best-post-wrapper.less {
          height: 300px;
          overflow: hidden; }
          .layout-page .layout-article-wrapper .layout-article-side-container .best-post-wrapper.less:after {
            content: "";
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            pointer-events: none;
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 90%);
            width: 100%;
            height: 60px; }
        .layout-page .layout-article-wrapper .layout-article-side-container .best-post-wrapper .best-post-header {
          padding-bottom: 15px;
          border-bottom: 1px solid var(--light-grey);
          margin-bottom: 20px; }
          .layout-page .layout-article-wrapper .layout-article-side-container .best-post-wrapper .best-post-header span {
            font-family: "Open Sans", sans-serif;
            font-size: 20px;
            font-weight: bold;
            line-height: 1;
            color: var(--dark-grey); }
        .layout-page .layout-article-wrapper .layout-article-side-container .best-post-wrapper .best-post-item {
          display: flex;
          flex-direction: row;
          margin-bottom: 20px; }
          .layout-page .layout-article-wrapper .layout-article-side-container .best-post-wrapper .best-post-item .best-post-pic-wrapper {
            width: 65px;
            height: 65px;
            border-radius: 50%;
            margin-right: 15px; }
            .layout-page .layout-article-wrapper .layout-article-side-container .best-post-wrapper .best-post-item .best-post-pic-wrapper img {
              width: 48px;
              height: 48px;
              object-fit: contain;
              border-radius: 50%; }
          .layout-page .layout-article-wrapper .layout-article-side-container .best-post-wrapper .best-post-item .best-post-content-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-bottom: 1px solid var(--light-grey);
            padding-bottom: 15px; }
            .layout-page .layout-article-wrapper .layout-article-side-container .best-post-wrapper .best-post-item .best-post-content-wrapper .best-post-content-title span {
              display: inline-block;
              font-family: "Open Sans", sans-serif;
              font-size: 15px;
              font-weight: bold;
              line-height: 1.33;
              color: var(--dark-grey); }
            .layout-page .layout-article-wrapper .layout-article-side-container .best-post-wrapper .best-post-item .best-post-content-wrapper .best-post-content-time {
              display: flex;
              flex-direction: row; }
              .layout-page .layout-article-wrapper .layout-article-side-container .best-post-wrapper .best-post-item .best-post-content-wrapper .best-post-content-time span {
                display: inline-block;
                font-family: "Open Sans", sans-serif;
                font-size: 13px;
                color: #999; }
                .layout-page .layout-article-wrapper .layout-article-side-container .best-post-wrapper .best-post-item .best-post-content-wrapper .best-post-content-time span.title {
                  font-style: normal;
                  margin-right: 5px; }
                .layout-page .layout-article-wrapper .layout-article-side-container .best-post-wrapper .best-post-item .best-post-content-wrapper .best-post-content-time span.time {
                  font-style: italic; }
      .layout-page .layout-article-wrapper .layout-article-side-container .show-more-button-wrapper {
        display: flex;
        margin-bottom: 25px; }
        .layout-page .layout-article-wrapper .layout-article-side-container .show-more-button-wrapper a {
          width: 146px;
          height: 50px;
          margin: 0 auto;
          padding: 14px 16px 14px 15px;
          border-radius: 5px;
          background-color: var(--orange);
          color: #fff;
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          font-weight: 600;
          line-height: 1.5;
          text-transform: uppercase;
          cursor: pointer; }
      .layout-page .layout-article-wrapper .layout-article-side-container .follow-facebook-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: auto; }
        .layout-page .layout-article-wrapper .layout-article-side-container .follow-facebook-wrapper .follow-facebook-title {
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          font-weight: bold;
          line-height: 1.25;
          color: var(--dark-grey); }
        .layout-page .layout-article-wrapper .layout-article-side-container .follow-facebook-wrapper .follow-facebook-pugin-wrapper {
          width: 350px;
          height: 380px;
          overflow-y: auto; }
          .layout-page .layout-article-wrapper .layout-article-side-container .follow-facebook-wrapper .follow-facebook-pugin-wrapper img {
            width: 100%;
            height: auto; }
  .layout-page .posts-from-front-page-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 50px; }
    .layout-page .posts-from-front-page-wrapper .front-page-header {
      position: relative;
      height: 31px;
      border-bottom: 1px solid #d8d8d8; }
      .layout-page .posts-from-front-page-wrapper .front-page-header span {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        height: 31px;
        border-bottom: 1px solid var(--dark-grey);
        font-family: "Open Sans", sans-serif;
        font-size: 24px;
        font-weight: bold;
        line-height: 0.83;
        color: var(--dark-grey); }
    .layout-page .posts-from-front-page-wrapper .posts-wrapper {
      display: flex;
      flex-direction: row;
      margin-top: 25px; }
      .layout-page .posts-from-front-page-wrapper .posts-wrapper .front-page-post {
        display: flex;
        flex-direction: column;
        width: 250px;
        margin-right: 30px; }
        .layout-page .posts-from-front-page-wrapper .posts-wrapper .front-page-post .pic-wrapper {
          position: relative; }
          .layout-page .posts-from-front-page-wrapper .posts-wrapper .front-page-post .pic-wrapper img {
            width: 100%;
            height: auto;
            object-fit: cover;
            aspect-ratio: 16 / 9; }
          .layout-page .posts-from-front-page-wrapper .posts-wrapper .front-page-post .pic-wrapper .color-label {
            display: inline-block;
            position: absolute;
            bottom: 15px;
            left: 10px;
            font-family: "Roboto Condensed", sans-serif;
            font-size: 14px;
            font-stretch: condensed;
            color: #fff;
            border-radius: 2px;
            padding: 3px 4px 1px;
            text-transform: uppercase; }
        .layout-page .posts-from-front-page-wrapper .posts-wrapper .front-page-post .header-wrapper {
          margin-bottom: 5px; }
          .layout-page .posts-from-front-page-wrapper .posts-wrapper .front-page-post .header-wrapper span {
            display: inline-block;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.5;
            color: var(--dark-grey); }
        .layout-page .posts-from-front-page-wrapper .posts-wrapper .front-page-post .content-wrapper span {
          display: inline-block;
          font-family: "Open Sans", sans-serif;
          font-size: 15px;
          line-height: 1.6;
          color: var(--dark-grey); }
      .layout-page .posts-from-front-page-wrapper .posts-wrapper .front-page-ad {
        width: 350px;
        height: 250px; }

.carousel-footer {
  width: 100%;
  margin-top: 60px;
  background-color: var(--dark-grey); }
  .carousel-footer .carousel-section {
    max-width: 1108px;
    margin: 0 auto;
    padding: 60px 0; }
    .carousel-footer .carousel-section .footer-carousel-header {
      position: relative;
      display: flex;
      height: 43px;
      border-bottom: 1px solid #d8d8d87e; }
      .carousel-footer .carousel-section .footer-carousel-header .carousel-header-title {
        position: absolute;
        bottom: -1px;
        left: 0;
        height: 43px;
        border-bottom: 1px solid #fff;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 36px;
        font-weight: bold;
        color: #fff; }
      .carousel-footer .carousel-section .footer-carousel-header .carousel-header-text {
        display: flex;
        align-items: end;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        color: #fff;
        margin-left: auto; }
    .carousel-footer .carousel-section .footer-carousel {
      position: relative;
      margin-top: 30px; }
      .carousel-footer .carousel-section .footer-carousel .inda-slider .slider-post {
        display: flex;
        flex-direction: column;
        width: 350px; }
        .carousel-footer .carousel-section .footer-carousel .inda-slider .slider-post .pic-wrapper {
          position: relative; }
          .carousel-footer .carousel-section .footer-carousel .inda-slider .slider-post .pic-wrapper img {
            width: 100%;
            height: auto;
            object-fit: cover;
            aspect-ratio: 16 / 9; }
          .carousel-footer .carousel-section .footer-carousel .inda-slider .slider-post .pic-wrapper .color-label {
            display: inline-block;
            position: absolute;
            bottom: 15px;
            left: 10px;
            font-family: "Roboto Condensed", sans-serif;
            font-size: 14px;
            font-stretch: condensed;
            color: #fff;
            border-radius: 2px;
            padding: 3px 4px 1px;
            text-transform: uppercase; }
        .carousel-footer .carousel-section .footer-carousel .inda-slider .slider-post .header-wrapper {
          margin-bottom: 5px; }
          .carousel-footer .carousel-section .footer-carousel .inda-slider .slider-post .header-wrapper span {
            display: inline-block;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.5;
            color: #fff; }
        .carousel-footer .carousel-section .footer-carousel .inda-slider .slider-post .content-wrapper span {
          display: inline-block;
          font-family: "Open Sans", sans-serif;
          font-size: 15px;
          line-height: 1.6;
          color: #fff; }
      .carousel-footer .carousel-section .footer-carousel .slider-button {
        position: absolute;
        bottom: 50%;
        display: flex;
        align-items: center;
        width: 42px;
        height: 72px;
        padding-left: 4px;
        background-color: #fff; }
        .carousel-footer .carousel-section .footer-carousel .slider-button#slider_prev {
          left: -65px; }
        .carousel-footer .carousel-section .footer-carousel .slider-button#slider_next {
          right: -65px; }
        .carousel-footer .carousel-section .footer-carousel .slider-button span {
          font-size: 30px;
          color: var(--orange); }
      .carousel-footer .carousel-section .footer-carousel .tns-nav {
        margin-top: 10px;
        display: flex;
        justify-content: center; }
      .carousel-footer .carousel-section .footer-carousel .tns-nav > [aria-controls] {
        width: 9px;
        height: 9px;
        padding: 0;
        margin: 0 5px;
        border-radius: 50%;
        background: #ddd;
        border: 0; }
      .carousel-footer .carousel-section .footer-carousel .tns-nav > .tns-nav-active {
        background: var(--orange); }

.footer-section {
  width: 100%;
  height: 150px;
  padding-top: 40px;
  background-color: #222; }
  .footer-section .data-wrapper {
    max-width: 1108px;
    margin: auto; }
    .footer-section .data-wrapper .footer-style {
      font-family: "Open Sans", sans-serif;
      font-size: 15px;
      line-height: 1.6;
      color: #898989; }
      .footer-section .data-wrapper .footer-style a {
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        line-height: 1.6;
        color: #898989; }
    .footer-section .data-wrapper .data {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px; }
      .footer-section .data-wrapper .data a {
        display: inline-block;
        text-decoration: none; }
    .footer-section .data-wrapper .credit {
      text-align: center; }

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75); }

.modal {
  position: fixed;
  top: 20vh;
  left: 5%;
  width: 90%;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards; }
  .modal .modal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 57px;
    padding: 0 1rem;
    border-bottom: 2px solid #e6e6e6; }
    .modal .modal-header .modal-header-text {
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-weight: bold;
      line-height: 3.13;
      color: var(--dark-grey);
      text-transform: uppercase; }
    .modal .modal-header .close {
      display: flex;
      align-items: center;
      margin-left: auto;
      cursor: pointer; }
      .modal .modal-header .close span {
        color: var(--orange); }
  .modal .modal-body {
    padding: 20px 70px 25px; }
    .modal .modal-body .upload-cover {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      width: 237px;
      height: 50px;
      border-radius: 5px;
      background-color: var(--orange);
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-weight: 600;
      color: #fff; }

.hide {
  display: none; }

@media (min-width: 768px) {
  .modal {
    width: 728px;
    left: calc(50% - 364px); } }

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@media screen and (max-width: 1119px) {
  .layout-page {
    padding: 0 12px; }
    .layout-page .layout-article-header .article-header-top-data .credentials {
      margin-right: auto; }
    .layout-page .layout-article-header .article-header-title h1 {
      font-size: 23px;
      line-height: 1.26; }
    .layout-page .layout-article-header .article-header-follow .follow-data-wrapper .follow-data-button {
      margin-top: 10px; }
    .layout-page .layout-article-wrapper {
      flex-direction: column; }
      .layout-page .layout-article-wrapper .layout-article-main-article {
        width: 100%;
        margin-right: 0; }
        .layout-page .layout-article-wrapper .layout-article-main-article .main-article-buttons-wrapper {
          flex-direction: column;
          max-width: 500px;
          margin-left: auto;
          margin-right: auto; }
          .layout-page .layout-article-wrapper .layout-article-main-article .main-article-buttons-wrapper .facebook-button {
            width: 100%;
            margin-bottom: 10px; }
            .layout-page .layout-article-wrapper .layout-article-main-article .main-article-buttons-wrapper .facebook-button:before {
              left: 125px; }
          .layout-page .layout-article-wrapper .layout-article-main-article .main-article-buttons-wrapper .back-to-button {
            width: 100%; }
            .layout-page .layout-article-wrapper .layout-article-main-article .main-article-buttons-wrapper .back-to-button:before {
              left: 118px; }
      .layout-page .layout-article-wrapper .layout-article-side-container {
        width: unset;
        max-width: 600px;
        margin: 40px auto 0; }
        .layout-page .layout-article-wrapper .layout-article-side-container .next-blog-wrapper .next-blog-text-wrapper .next-blog-header {
          text-align: center; }
        .layout-page .layout-article-wrapper .layout-article-side-container .next-blog-wrapper .next-blog-text-wrapper .next-blog-text {
          text-align: center; }
        .layout-page .layout-article-wrapper .layout-article-side-container .follow-facebook-wrapper {
          margin: 20px auto; }
    .layout-page .posts-from-front-page-wrapper .posts-wrapper {
      flex-wrap: wrap;
      justify-content: center; }
      .layout-page .posts-from-front-page-wrapper .posts-wrapper .front-page-post {
        margin-bottom: 10px; }
  .carousel-footer .carousel-section .footer-carousel-header {
    width: 700px;
    margin: 0 auto; }
  .carousel-footer .carousel-section .footer-carousel {
    width: 700px;
    margin: 30px auto; } }

@media screen and (max-width: 970px) {
  .layout-page .layout-topAd {
    display: none; } }

@media screen and (max-width: 860px) {
  .carousel-footer .carousel-section .footer-carousel-header {
    width: 400px;
    margin: 0 auto; }
  .carousel-footer .carousel-section .footer-carousel {
    width: 367px;
    margin: 30px auto; }
  .footer-section {
    height: fit-content;
    padding: 20px 0 10px; }
    .footer-section .data-wrapper .data {
      flex-direction: column;
      justify-content: center;
      margin-bottom: 20px; }
      .footer-section .data-wrapper .data a {
        text-align: center;
        margin-bottom: 15px; } }

@media screen and (max-width: 523px) {
  .layout-cover {
    height: 116px; }
  .layout-page .layout-article-header .article-header-follow .follow-data-wrapper .follow-data-title {
    font-size: 14px; }
  .layout-page .layout-article-wrapper .layout-article-main-article p {
    font-size: 15px; }
  .layout-page .layout-article-wrapper .layout-article-main-article blockquote p {
    font-size: 16px; }
  .layout-page .layout-article-wrapper .layout-article-main-article .frame p {
    font-size: 16px; }
  .layout-page .layout-article-wrapper .layout-article-main-article .main-article-buttons-wrapper .facebook-button:before {
    left: 50px; }
  .layout-page .layout-article-wrapper .layout-article-main-article .main-article-buttons-wrapper .back-to-button:before {
    left: 50px; }
  .layout-page .layout-article-wrapper .layout-article-side-container .next-blog-wrapper .next-blog-text-wrapper .next-blog-header {
    text-align: left; }
  .layout-page .layout-article-wrapper .layout-article-side-container .next-blog-wrapper .next-blog-text-wrapper .next-blog-text {
    text-align: left; }
  .layout-page .layout-article-wrapper .layout-article-side-container .next-blog-wrapper .next-blog-button-wrapper a {
    width: 178px;
    padding: 11.7px 16.3px 11.3px 16.3px;
    font-size: 14px; }
    .layout-page .layout-article-wrapper .layout-article-side-container .next-blog-wrapper .next-blog-button-wrapper a:after {
      top: 12px;
      right: 7px;
      font-size: 20px; }
  .layout-page .layout-article-wrapper .layout-article-side-container .show-more-button-wrapper .show-more {
    height: 42px;
    text-align: center;
    font-size: 14px;
    padding: 10.7px 15.7px 11.3px 16.3px; }
  .layout-page .layout-article-wrapper .layout-article-side-container .follow-facebook-wrapper .follow-facebook-pugin-wrapper {
    width: 100%; }
  .layout-page .posts-from-front-page-wrapper .front-page-header span {
    font-size: 20px; }
  .layout-page .posts-from-front-page-wrapper .posts-wrapper .front-page-post {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px; }
    .layout-page .posts-from-front-page-wrapper .posts-wrapper .front-page-post .header-wrapper span {
      font-size: 20px; }
  .carousel-footer .carousel-section .footer-carousel-header {
    width: 347px;
    margin: 0 auto; }
  .carousel-footer .carousel-section .footer-carousel {
    width: 350px; }
    .carousel-footer .carousel-section .footer-carousel .tns-outer .tns-ovh #tns1-iw {
      margin: 0px -45px 0px 0px; }
    .carousel-footer .carousel-section .footer-carousel .inda-slider .slider-post .header-wrapper {
      padding: 0 10px; }
    .carousel-footer .carousel-section .footer-carousel .inda-slider .slider-post .content-wrapper {
      padding: 0 10px; }
    .carousel-footer .carousel-section .footer-carousel .slider-button {
      bottom: 60%; }
      .carousel-footer .carousel-section .footer-carousel .slider-button#slider_prev {
        left: 0; }
      .carousel-footer .carousel-section .footer-carousel .slider-button#slider_next {
        right: 0; } }
